.editLabel {
  margin-right: 0.5rem;
}

.editInput {
  margin-right: 0.5rem;
  font-family: "Reenie Beanie";
  font-size: 1.5rem;
}

.editSubmit {
  background-color: #2ec4b6;
}

.editSubmit:hover {
  background-color: #06d6a0;
}
