body {
  background-color: #f5f5f5;
  width: 600px;
  margin: 0;
  padding: 0;
  font-family: "Reenie Beanie";
  font-size: 20px;
}

.paper {
  background-color: #efefef;
}

h1 {
  background-color: white;
  font-size: 50px;
  color: #36454f;
  margin-left: 10px;
  width: 200px;
  padding: 10px;
  transform: rotate(-8deg);
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  font-family: "Reenie Beanie", sans-serif;
  margin: 3px;
  padding: 2px;
  font-size: 20px;
}
