html {
  background: url(cork.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Reenie Beanie";
  font-size: 2rem;
}

.paper {
  background-color: #efefef;
  width: 620px;
  height: 100%;
  margin: auto;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

h1 {
  background-color: white;
  font-size: 3rem;
  color: #36454f;
  margin-left: 10px;
  margin-bottom: 0;
  width: 40%;
  padding: 10px;
  transform: rotate(-8deg);
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.loading {
  margin-left: 1rem;
}

.sort {
  text-align: right;
  margin-top: 0;
  margin-right: 0.5rem;
}

.sort span {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.sort select {
  padding: 0.5rem;
  font-family: "Reenie Beanie";
  font-size: 1.25rem;
}

option {
  font-family: "Reenie Beanie";
}

button {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  font-family: "Reenie Beanie", sans-serif;
  margin: 3px;
  padding: 2px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #2ec4b6;
}

@media (max-width: 500px) {
  h1 {
    width: 85%;
    margin-bottom: 0.75rem;
  }
  .paper {
    width: 85%;
  }
}
@media (min-width: 501px) and (max-width: 1000px) {
}
@media (min-width: 1001px) {
}
